# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/hyperinsure/node_modules
enliven
# next.js
/.next/
/out/
.kiro
# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# hyperinsure specific
/hyperinsure/.env*
/hyperinsure/deployments/*.json
/hyperinsure/wallet-info.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts